.c-listicle {
  background-color: $white;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba($black, 0.125);
  display: flex;
  flex-wrap: wrap;
  margin-top: -12.5% !important;
  overflow: hidden;
}

.c-listicle__item {
  flex: 1 1 calc(100% / 3);
  min-width: 16em;
  outline: $supernova solid 1px;
  padding: 1.25em 1.5em;
  text-align: center;
}

.c-listicle__icon {
  fill: $steel-blue;
  font-size: 6em;
  margin-bottom: 0.5rem;
}

.c-listicle__title {
  font-size: 1.25em;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}

.c-listicle__description {
  font-size: 0.875em;
}
