.c-map {
  height: 0;
  padding-top: 92.7572427572%;
  position: relative;
}

.c-map__country {
  filter: drop-shadow(0 0.25em rgba($black, 0.125));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-map__state {
  @extend %u-transition;
  cursor: pointer;

  &:hover {
    fill: mix($white, $steel-blue, 40%);
  }

  &.is-active {
    fill: $supernova;
  }
}
