.c-tip {
  align-items: center;
  display: flex;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;

  &::before,
  &::after {
    border-top: $supernova solid 0.125em;
    content: "";
    flex: auto;
    min-width: 1.5em;
  }

  &::before {
    margin-right: 1.5em;
  }

  &::after {
    margin-left: 1.5em;
  }
}
