<footer class="c-footer">

  <div class="o-container">

    <h2 class="u-vertical-space">References</h2>


    <ol class="c-reference u-vertical-space">
      <li class="c-reference__item">
        <sup>1-3, 7-17</sup>
        <a href="https://www.commbank.com.au/content/dam/commbank/personal/docs/commbank-retire-ready-index-full-report.pdf">Commonwealth Bank of Australia</a>
      </li>
      <li class="c-reference__item">
        <sup>2</sup>
        <a href="https://www.superannuation.asn.au/ArticleDocuments/238/ASFA-RetirementStandard-Summary.pdf.aspx?Embed=Y">The Association of Superannuation Funds of Australia</a>
      </li>
      <li class="c-reference__item">
        <sup>4-6</sup>
        <a href="https://www.wgea.gov.au/sites/default/files/2016-17-gender-equality-scorecard.pdf">Workplace Gender Equality Agency</a>
      </li>
      <li class="c-reference__item">
        <sup>14</sup>
        <a href="http://www.abs.gov.au/ausstats/abs@.nsf/mf/6333.0">Australian Bureau of Statistics</a>
      </li>
    </ol>
    <!-- /c-reference -->

  </div>
  <!-- /o-container -->

</footer>
<!-- /c-footer -->
