<header class="c-header">

  <div class="o-container">

    <div class="s-entry-content s-entry-content--center s-entry-content--large u-vertical-space u-vertical-space--large">
      <p>It is estimated by The Association of Superannuation Funds of Australia’s (ASFA) that singles need $545,000 and couples require $640,000 to enjoy a comfortable retirement which equates to $43,372 and $59,619 per year respectively<sup>2</sup>.</p>
    </div>
    <!-- /s-entry-content -->


    <div class="c-labels u-vertical-space u-vertical-space--large">
      <span class="c-labels__title">Age Pension</span>
      <span class="c-labels__sign">+</span>
      <span class="c-labels__title">personal assets</span>
      <span class="c-labels__sign">+</span>
      <span class="c-labels__title">superannuation</span>
      <span class="c-labels__sign">=</span>
      <span class="c-labels__title">Retirement balance</span>
    </div>
    <!-- /c-labels -->


    <div class="s-entry-content s-entry-content--center s-entry-content--small u-vertical-space u-vertical-space--large">
      <p>Unfortunately, <strong>47% of Australians fall short</strong> of this recommended allowance<sup>3</sup>. There are a number of factors which contribute to Australians not having enough pennies in their piggy banks, some easier to measure for than others.</p>
    </div>
    <!-- /s-entry-content -->

  </div>
  <!-- /o-container -->

</header>
<!-- /c-header -->
